 body {
     display: flex;
     height: 100vh;
     flex-direction: column;
     justify-content: space-between;
 }

 .section-img {
     max-width: 100%;
     height: 100%;
     background-image: linear-gradient(rgba(0, 0, 05, 0.35), rgba(41, 48, 65, 0.75)), url('../img/unjfsc.jpg');
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .img-logo {
     height: 150px;
 }

 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .contenedor-cards > div {
    margin: 25px 0;
 }

 .contenedor-input {
    margin-bottom: 0 !important;
 }

 .container > div {
    width: 900px;
    margin: 10px;
 }

 .contenedor {
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .contenedor-input {
     text-align: center;
     color: aliceblue;

 }

 .card-body {
    display: flex;
    justify-content: space-between;
 }

 .body-img {
    font-size: 50px;
 }

 .card {
    height: 170px;
 }

 .contenedor-input p {
     font-size: 50px;
 }

 #Buscador {
     background: url('../img/search.png') no-repeat 15px 15px;
     background-size: 40px;
     background-color: aliceblue;
     color: black;
     width: 900px;
     height: 70px;
     border: transparent;
     border-bottom: solid 3px #ccc;
     border-radius: 5px;
     padding: 10px 10px 10px 30px;
     outline: none;
 }

 input[type="search"] {
     font-size: 22px;
     text-indent: 40px;
 }

 .contenedor-footer {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: auto;
 }

 .contactanos {
     display: flex;
     flex-direction: row;
 }

 .contenedor-footer .titulo {
     text-align: center;
     color: #2D79C6;
     font-weight: bold;
     font-size: 20px;
 }

 .contactanos p {
     flex-basis: 33.3%;
     text-align: center;
     font-weight: bold;
     margin: 0;

 }

 i {
     padding: 0px 10px;
 }

 .copyright {
     background-color: #2D79C6;
     text-align: center;
     font-weight: bold;
     font-size: 20px;
     color: aliceblue;
 }

 .copy {
    margin: 0;
    padding: 10px;
 }